<mat-toolbar color="primary">
  <div class="dropdown">
    <button mat-button [matMenuTriggerFor]="menuNormal">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menuNormal="matMenu">
      <button mat-menu-item (click)="irCarrito()">Ver Carrito</button>
      <button mat-menu-item>Ver Historial de Compras</button>
    </mat-menu>
  </div>

  <button (click)="regresoInicio()">
    <span>Chapin Market</span>
  </button>
  <span class="example-spacer"></span>
  <!--serie de botones-->
  <button (click)="navigateToAbout()">Compras</button>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <span matBadge="1" matBadgeColor="accent">
      <mat-icon matBadge="1" matBadgeColor="warn">shopping_cart</mat-icon>
    </span>
  </button>

  <button mat-button [matMenuTriggerFor]="fileMenu">Ingreso Usuario</button>
  <mat-menu #fileMenu="matMenu">
    <button (click)="irLogin()" mat-menu-item>ingreso</button>
  </mat-menu>
</mat-toolbar>
