<mat-toolbar color="primary">


  <button (click)="general()">
    <span>Inventario - General</span>
  </button>
  <span class="example-spacer"></span>
  <!--serie de botones-->
  <button (click)="manejoProducto()" >Manejo Productos a Bodega</button>
  <span class="example-spacer"></span>

  <button (click)="DevolucionProductoInventario()" >Devolucion de Productos a Bodega</button>
  <span class="example-spacer"></span>

  <button (click)="vistaProductoInventario()" >Vista Productos en Sucursal</button>
  <span class="example-spacer"></span>




  <button mat-button [matMenuTriggerFor]="fileMenu">{{nombreUser}}</button>
  <mat-menu #fileMenu="matMenu">
    <button (click)="cerrarSesion()" mat-menu-item>Cerrar Sesion</button>
  </mat-menu>
</mat-toolbar>
