<app-header-cli></app-header-cli>

<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
    <div class="col-md-6 offset-md-3">
      <div class="content mat-elevation-z8 justify-content-center">
        <form [formGroup]="loginform" (ngSubmit)="generacionLogin()">
          <div class="loginForm">
            <div class="mt-2">
              <!--ingreso elementos-->
              <label for="nombre" class="mt-5 d-flex justify-content-center">
                Nombre de Usuario
              </label>
              <input
                formControlName="nombre"
                type="text"
                class="form-control mt-2"
                placeholder="Usuario"
                required
              />
            </div>
            <div class="mt-2">
              <!--ingreso elementos-->
              <label for="password" class="mt-5 d-flex justify-content-center">
                Contrasenia de Usuario
              </label>
              <input
                formControlName="password"
                type="password"
                class="form-control mt-2"
                placeholder="password"
                required
              />
            </div>
            <div class="col-md-12 d-flex mt-6 justify-content-center">
              <button type="submit" class="btn btn-primary">Ingreso</button>
            </div>
          </div>
        </form>

        <!--generacion de boton-->
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
