<mat-toolbar color="primary">
  <button (click)="regresoGeneral()" >
    <span>Cajero - General</span>
  </button>
  <span class="example-spacer"></span>
  <!--serie de botones-->
  <button (click)="irCompras()">Compras</button>
  <span class="example-spacer"></span>
  <button (click)="vistaProductos()">Ver Productos</button>
  <span class="example-spacer"></span>

  <button mat-button [matMenuTriggerFor]="fileMenu">Ingreso Usuario</button>
  <mat-menu #fileMenu="matMenu">
    <button (click)="cerrarSesion()" mat-menu-item>Cerrar Sesion</button>
  </mat-menu>
</mat-toolbar>
