<!--llamada de header-->
<app-header-cajero></app-header-cajero>
<!--pagina de informacion general del cajero-->
<div class="container">
  <h1>informacion General</h1>
  <hr />
</div>


<div class="col-md-12">
  <table class="table table-bordered  table-striped table-hover">
      <thead class="bg-primary text-white">
          <th>Identificador</th>
          <th>Nombre Usuario</th>
          <th>Area</th>
          <th>Sucursal de Trabajo</th>
      </thead>
      <tr >
        <td>{{usuario.identificador}}</td>
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.id_rol}}</td>
        <td>{{usuario.id_sucursal}}</td>
      </tr>


  </table>
</div>
