<app-header-cajero></app-header-cajero>

<!------------------------------------------------>

<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Ingreso de Informacion de Cliente</ng-template>

      <div class="container">
        <form class="form-container" #f="ngForm">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Informacion de Clintes</mat-card-title>
              <mat-card-subtitle>Busqueda de Cliente</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <hr />
              <div class="row">
                <div class="col-md-6">
                  <label
                    for="nombre"
                    class="mt-5 d-flex justify-content-center"
                  >
                    Nit de Cliente
                  </label>
                  <input
                    type="text"
                    class="form-control mt-2"
                    placeholder="Nit de Cliente"
                    name="Sucursal"
                    [(ngModel)]="buscarCliente"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <button mat-raised-button color="primary" (click)="mostrar()">
                    Buscar Cliente
                  </button>
                </div>
              </div>

              <div class="container" *ngIf="buscandoCliente">
                <div
                  class="container"
                  *ngIf="
                    noExiste && buscandoCliente;
                    then ingresoCliente;
                    else datosEncontrados
                  "
                ></div>
              </div>

              <ng-template #ingresoCliente>
                <div
                  class="alert alert-warning alert-dismissible fade show"
                  role="alert"
                  #alertBox
                >
                  <strong>No se Encontro el Nit en tienda!</strong> INgrese al cliente en tieda, por favor.
                  <button
                    type="button"
                    class="close"
                    data-dismiss="alert"
                    aria-label="Close"
                    (click)="cerrarAlerta()"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label
                      for="nombre"
                      class="mt-5 d-flex justify-content-center"
                    >
                      Nombre de Cliente
                    </label>
                    <input
                      type="number"
                      class="form-control mt-2"
                      placeholder="Código de Producto en Bodega"
                      name="ProductoBodega"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button mat-raised-button color="primary">
                      Ingreso de Cliente
                    </button>
                  </div>
                </div>
              </ng-template>

              <!--PARA LA VISUALIZCION DE INFO DE CLIENTES-->
              <ng-template #datosEncontrados>
                <div class="alert alert-success" role="alert">
                 Usuario Encontrado
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label
                      for="nombre"
                      class="mt-5 d-flex justify-content-center"
                    >
                      Nombre de CLiente
                    </label>
                    <input
                      type="text"
                      class="form-control mt-2"
                      placeholder="Nombre de Cliente"
                      name="nombreClienteEncotrado"
                      [(ngModel)]="nombreClienteEncotrado"
                      readonly
                    />
                  </div>
                </div>
              </ng-template>
              <!--FIN DE IF-->
              <hr />
            </mat-card-content>
          </mat-card>
        </form>
      </div>

      <hr />

      <div>
        <button mat-raised-button color="accent" matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <!------------------------------------------------------------------------------------------------------------------->
  <!------------------------------------------------------------------------------------------------------------------->
  <!------------------------------------------------------------------------------------------------------------------->
  <!-------------------------------------------------------------------------------------------------------------------><!------------------------------------------------------------------------------------------------------------------->
  <!------------------------------------------------------------------------------------------------------------------->
  <!------------------------------------------------------------------------------------------------------------------->
  <!------------------------------------------------------------------------------------------------------------------->
  <mat-step [stepControl]="secondFormGroup">


    <form [formGroup]="secondFormGroup">

      <ng-template matStepLabel>Seleccion de Productos</ng-template>
      <button mat-raised-button color="primary" (click)="obtenerElementosdeInventario()">ver producto</button>

      <label>Seleccion de Objetos</label>
      <hr />
      <mat-form-field>
        <mat-label>Toppings</mat-label>
        <mat-select [formControl]="toppings" multiple>
          <mat-select-trigger>
            {{toppings.value?.[0] || ''}}
            <span
              *ngIf="(toppings.value?.length || 0) > 1"
              class="example-additional-selection"
            >
              (+{{ (toppings.value?.length || 0) - 1 }}
              {{ toppings.value?.length === 2 ? "other" : "others" }})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let topping of listadoProductos" [value]="topping">{{
            topping.nombre
          }}</mat-option>
        </mat-select>
      </mat-form-field>



      <table class="tabla table table-bordered table-striped">
        <thead>
          <tr>
            <th>Identificador (En Inventario)</th>
            <th>Nombre</th>
            <th>precio</th>
            <th>Cantidad (En Bodega)</th>
            <th>Fecha</th>
            <th>Identificador de Sucursal</th>
            <th>Identificador de Producto</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let producto of objetosLista">
            <td><input type="text" /></td>
            <!-- Mostrar el identificador aquí -->
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.cantidadgeneral }}</td>
            <td>{{ producto.identificador }}</td>
            <!-- Mostrar el identificador aquí -->
          </tr>

        <tr *ngFor="let valor of listadoInventario">
          <!-- Mostrar el identificador aquí -->
          <td>{{ valor.cantidadgeneral }}</td>
          <td>{{ valor.pasillo }}</td>
          <!-- Mostrar el identificador aquí -->
        </tr>

        </tbody>
      </table>
      <!--TABLA FINAL PARA LA CANTIDAD TOTAL-->

      <div>
        <button mat-raised-button color="accent" matStepperPrevious>Regreso</button>
        <button mat-raised-button color="accent" matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>

  <!------------------------------------------------------------------------------------------------------------------->
  <!------------------------------------------------------------------------------------------------------------------->
  <!------------------------------------------------------------------------------------------------------------------->
  <!-------------------------------------------------------------------------------------------------------------------><!------------------------------------------------------------------------------------------------------------------->
  <!------------------------------------------------------------------------------------------------------------------->
  <!------------------------------------------------------------------------------------------------------------------->
  <!------------------------------------------------------------------------------------------------------------------->

  <mat-step>
    <ng-template matStepLabel>Generacion Final de Venta</ng-template>

    <label>Ingreso de Informacion de Usuario</label>

    <div class="container">
      <form class="form-container" #f="ngForm">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Informacion</mat-card-title>
            <mat-card-subtitle>Ingreso de Ventas</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <hr />
            <div class="row">
              <div class="col-md-6">
                <label for="nombre" class="mt-5 d-flex justify-content-center">
                  Identificador de empleado
                </label>
                <input
                  type="text"
                  class="form-control mt-2"
                  placeholder="identificador de Sucursal"
                  name="Sucursal"
                  readonly
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="nombre" class="mt-5 d-flex justify-content-center">
                  Identificador de Producto (EN Bodega)
                </label>
                <input
                  type="number"
                  class="form-control mt-2"
                  placeholder="Código de Producto en Bodega"
                  name="ProductoBodega"
                />
              </div>
              <div class="col-md-6">
                <label for="nombre" class="mt-5 d-flex justify-content-center">
                  Identificador de Producto
                </label>
                <input
                  type="text"
                  class="form-control mt-2"
                  placeholder="Nombre de Producto"
                  name="nombre"
                  readonly
                />
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-md-12">
                <label for="nombre" class="mt-5 d-flex justify-content-center">
                  Cantidad de Productos
                </label>
                <input
                  type="number"
                  class="form-control mt-2"
                  placeholder="cantidad de Producto"
                  name="cantidad"
                  required
                />
                <label for="nombre" class="mt-5 d-flex justify-content-center">
                  Pasillo del Producto
                </label>
                <input
                  type="text"
                  class="form-control mt-2"
                  placeholder="Nombre de Pasillo"
                  name="pasillo"
                  required
                />
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div class="row">
              <div class="col-md-12">
                <button mat-raised-button color="primary">Ingreso</button>
                <button mat-raised-button color="primary">
                  Buscar Productos
                </button>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
    <hr />

    <div>
      <button mat-raised-button color="accent" matStepperPrevious>Regreso</button>
      <button mat-raised-button color="accent" (click)="stepper.reset()">Siguiente</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
<!------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------->
