<mat-toolbar color="primary">
  <button >
    <span>Bodega - General</span>
  </button>
  <span class="example-spacer"></span>
  <!--serie de botones-->
  <button >Ingreso de Productos</button>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <span matBadge="1" matBadgeColor="accent">
      <mat-icon matBadge="1" matBadgeColor="warn">shopping_cart</mat-icon>
    </span>
  </button>

  <button mat-button [matMenuTriggerFor]="fileMenu">Usuario</button>
  <mat-menu #fileMenu="matMenu">
    <button (click)="cerrarSesion()" mat-menu-item>Cerrar Sesion</button>
  </mat-menu>
</mat-toolbar>
