<mat-toolbar color="primary">


  <button >
    <span>Admin - General</span>
  </button>
  <span class="example-spacer"></span>
  <!--serie de botones-->
  <button >Manejo Empleados</button>

  <button >Manejo Tarjetas</button>

  <button (click)="reporteHistorialDescuento()">Manejo Reportes</button>



  <button mat-button [matMenuTriggerFor]="fileMenu">Usuarios</button>
  <mat-menu #fileMenu="matMenu">
    <button (click)="cerrarSesion()" mat-menu-item>Cerrar Sesion</button>
  </mat-menu>
</mat-toolbar>
