<!-- Llamada al componente de encabezado -->
<app-header-admin></app-header-admin>

<div class="container">
  <h1>Reporte Top - 10 Clienetes con mas Gastos</h1>
  <hr />
</div>


<div class="col-md-12">


  <table class="table table-bordered table-striped table-hover">
    <thead class="bg-primary text-white">
      <tr>
        <th>No.</th>
        <th>Nombre de Producto</th>
        <th>Cantidad de Elementos</th>
      </tr>
    </thead>
    <tbody>
      <!-- Iteración sobre los elementos en 'valores' para mostrar los datos -->

      <ng-container *ngFor="let usuario of objetoFinal; let i=index;">
        <tr>
          <td>{{ i+1 }}</td>
          <td>{{ usuario.identificador_producto_inventario }}</td>
          <td>{{ usuario.cantidad_total_vendida }}</td>
        </tr>
      </ng-container>

    </tbody>
  </table>
</div>
